#headerBox {
    background-color: blue;
    color: white;
    padding-bottom: 20px;
}

#locationBox{
    padding-top: 15px;
}

#searchButton {
    margin-bottom: 35px;
}

#priorCities {
    text-align: start;
    margin-top: 15px;
    text-decoration: none;
}
#forecastBox {
    margin-bottom: 100px;
}

#locationField {
    margin-left: 10px;;
}

#forecastCard {
    margin-bottom: 35px;
    height: 300px;
    line-height: normal;
}

#fiveDayForecastBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-text {
    line-height: normal;
}

#fiveDayCardOne {
    white-space: pre;
    align-items: center;
}

#fiveDayCardTwo {
    white-space: pre;
    align-items: center;
}
#fiveDayCardThree {
    white-space: pre;
    align-items: center;
}
#fiveDayCardFour {
    white-space: pre;
    align-items: center;
}
#fiveDayCardFive {
    white-space: pre;
    align-items: center;
}


.card img {
   max-width: 50%;
   height: auto;
}

#searchLabel{
    font-size: larger;
}
