#searchButton {
    margin-bottom: 50px;
}

#forecastBox{
    margin-bottom: 100px;
}

#forecastCard{
    margin-bottom: 10px;
}

#fiveDayForecastBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#priorCities{
    text-align: start;
    margin-top: 50px;
}

.card-text {
    line-height: normal;
}