/* div {
    border: 1px solid grey;
} */

#forecastBox{
    margin-bottom: 100px;
}

#forecastCard{
    margin-bottom: 100px;
}

#fiveDayForecastBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}